@namespace SmallsOnline.Web.Lib.Components.FavoritesOf.Tracks
@inherits ComponentBase

@using SmallsOnline.Web.Lib.Models.FavoritesOf.Tracks

<div class="card shadow-sm">
    <div class="row">
        <div class="col">
            <img src="@ItemData.TrackArtUrl" alt="@ItemData.Artist - @ItemData.Title artwork"
                class="card-img card-img-top" />
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="text-truncate">
                            @ItemData.Title
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-subtitle text-muted text-truncate">
                            by @ItemData.Artist
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <a href="@ItemData.TrackUrl" target="_blank" rel="noopener noreferrer" class="btn btn-glaucous"
                            role="button">
                            Open Song
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>