@namespace SmallsOnline.Web.Lib.Components.FavoritesOf.Albums
@inherits ComponentBase

<div class="card shadow-sm">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-6">
            <img class="card-img" src="@ItemData.AlbumArtUrl" alt="Album art for @ItemData.Title">
        </div>
        <div class="col">
            <div class="card-body">
                <h4 class="card-title">
                    @if (@ItemData.IsBest)
                    {
                        <i class="bi bi-star-fill bi-icon-color-gold" />
                    }
                    @ItemData.Title
                </h4>
                <div class="card-subtitle text-muted">by @ItemData.Artist</div>
                <div class="py-2">
                    <div class="fs-5">Release date</div>
                    <div class="text-muted">
                        @if (ItemData.ReleaseDate is not null)
                        {
                            <span>
                                @ItemData.ReleaseDate.Value.ToString("MMMM dd, yyyy")
                            </span>
                        }
                        else
                        {
                            <span>
                                NaN
                            </span>
                        }
                    </div>
                    <div class="pt-2">
                        <a href="@ItemData.AlbumUrl" target="_blank" rel="noopener noreferrer" class="btn btn-glaucous"
                            role="button">Open Album</a>
                    </div>
                    <hr>
                    <div>
                        <h4>Standout Tracks</h4>
                        <div>
                            <div class="list-group">
                                @if (ItemData.StandoutTracks != null)
                                {
                                    @foreach (AlbumStandoutSong standoutSongItem in
                                   ItemData.StandoutTracks)
                                    {
                                        <div class="list-group-item list-group-item-action">
                                            <a href="@standoutSongItem.TrackUrl" target="_blank" rel="noopener noreferrer"
                                        class="text-decoration-none stretched-link">@standoutSongItem.Name</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="list-group-item">
                                        No tracks were provided in the dataset.
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>